@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-Thin.woff2") format("woff2"), url("fonts/Poppins/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-ExtraLight.woff2") format("woff2"), url("fonts/Poppins/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-Light.woff2") format("woff2"), url("fonts/Poppins/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("fonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-Medium.woff2") format("woff2"), url("fonts/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("fonts/Poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-Bold.woff2") format("woff2"), url("fonts/Poppins/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-ExtraBold.woff2") format("woff2"), url("fonts/Poppins/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-Black.woff2") format("woff2"), url("fonts/Poppins/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

img, svg {
  max-width: 100%;
  max-height: 100%;
  display: block;
  user-select: none; }

input:disabled {
  cursor: not-allowed; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: color 0s 999999999s, background-color 0s 999999999s; }

.card-item-name.elipsis, .tournament-card-title, .user-card-item strong {
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap; }

.container {
  width: 100svw;
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem; }

.section {
  min-height: calc(100svh - 4rem); }

.flex {
  display: flex; }
  .flex.column {
    flex-direction: column; }

.bg-white {
  background-color: #ffffff; }

.bg-black {
  background-color: #000000; }

.bg-blue {
  background-color: #06b1ff; }

.bg-green {
  background-color: #13ad6b; }

.bg-red {
  background-color: #f0483e; }

.bg-grey {
  background-color: #808080; }

.bg-orange {
  background-color: #ffa500; }

.bg-light-grey {
  background-color: #e0e0e0; }

.bg-pale-white {
  background-color: #f6f6f6; }

.bg-transparent {
  background-color: transparent; }

.br-blue {
  border: 1px solid #06b1ff; }

.br-red {
  border: 1px solid #f0483e; }

.br-grey {
  border: 1px solid #808080;
  border-color: #808080; }

.br-light-grey {
  border: 1px solid #e0e0e0; }

.br-green {
  border: 1px solid #13ad6b; }

.br-orange {
  border: 1px solid #ffa500; }

.br-transparent {
  border: 1px solid transparent; }

.ft-black {
  color: #000000; }

.ft-night-black {
  color: #1e1e1e; }

.ft-white {
  color: #ffffff; }

.ft-blue {
  color: #06b1ff; }

.ft-orange {
  color: #ffa500; }

.ft-grey {
  color: #808080; }

.ft-green {
  color: #13ad6b; }

.ft-red {
  color: #f0483e; }

.no-decoration {
  text-decoration: none; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.txt-wrap {
  text-wrap: wrap; }

.ft-xs {
  font-size: 0.75rem; }

.ft-sm {
  font-size: 0.875rem; }

.ft-base {
  font-size: 1rem; }

.ft-lg {
  font-size: 1.125rem; }

.ft-xl {
  font-size: 1.25rem; }

.ft-2xl {
  font-size: 1.375rem; }

.ft-3xl {
  font-size: 1.5rem; }

.ft-4xl {
  font-size: 1.75rem; }

.ft-5xl {
  font-size: 2rem; }

.wt-300 {
  font-weight: 300; }

.wt-400 {
  font-weight: 400; }

.wt-500 {
  font-weight: 500; }

.wt-600 {
  font-weight: 600; }

.wt-700 {
  font-weight: 700; }

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 3rem 7.5rem;
  flex-wrap: wrap; }

.home-details-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
  min-width: 320px;
  flex-grow: 1;
  color: #383838; }

.home-details-title {
  font-size: 3.5rem;
  font-size: clamp(2.75rem, 4vw, 3.5rem);
  font-weight: 500;
  line-height: 4rem; }

.home-details-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap; }

.home-image-container {
  background-image: url("images/favicon.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  min-width: 320px;
  flex-grow: 1;
  aspect-ratio: 1; }

.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap; }

.auth-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.65rem;
  width: calc(50% - 0.5rem);
  min-width: 500px; }
  .auth-box .space-filler {
    height: 3.95rem; }

.auth-innerbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%; }

.auth-switch {
  align-self: flex-start;
  font-size: 0.875rem; }
  .auth-switch a {
    color: #06b1ff;
    font-weight: 500;
    text-decoration: none; }

.login-form {
  width: 50%;
  max-width: 500px; }

.register-form {
  width: 80%; }

.organizations {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column; }

.organization {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 3rem; }

.organization-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 0.5rem; }

.org-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 4px rgba(114, 114, 114, 0.4); }

.org-details-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  gap: 1rem; }

.org-details-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.75rem;
  width: 70%; }

.org-admin-details-box {
  display: grid;
  align-content: space-between;
  gap: 0.75rem;
  width: 30%; }

.org-admin-details-inner-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.75rem; }

.org-admin-details-button-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 0.75rem; }
  .org-admin-details-button-box .button:hover.br-blue.bg-blue {
    background-color: #ffffff; }
  .org-admin-details-button-box .button:hover.br-blue.ft-white {
    color: #06b1ff; }

.org-users-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  place-items: stretch;
  gap: 1.25rem; }

.tournament-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 2rem;
  padding: 2rem 1rem;
  width: 100%;
  flex-wrap: wrap; }

.tournament {
  padding: 0; }

.tournament-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem; }

.tournament-poster-image-container {
  position: relative;
  width: 100%;
  height: 25rem;
  overflow: hidden; }

.tournament-poster-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

.tournament-poster-overlay {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3rem 5rem;
  background-image: linear-gradient(180deg, #00000060, #00000075); }

.tournament-poster-header {
  font-weight: 500;
  font-size: 3rem; }

.tournament-detail-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 90%;
  gap: 2rem;
  padding-left: 3rem;
  padding-right: 3rem; }

.tournament-detail-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem; }

.tournament-detail-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  flex-grow: 3;
  border-radius: 1rem;
  box-shadow: 1px 1px 4px #e0e0e0; }

.tournament-detail-header-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 0.75rem;
  padding-bottom: 1rem; }

.tournament-detail-header-icon {
  background-image: url("images/trophy-icon.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(100% - 1rem);
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  border: 1px solid #f6f6f6;
  box-shadow: 1px 1px 4px #f6f6f6, -1px -1px 4px #f6f6f6; }

.tournament-detail-header {
  font-weight: 500;
  font-size: 2rem;
  color: #383838; }

.tournament-detail-tags-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
  padding-top: 0.61rem; }

.tournament-detail-tag {
  border: 1px solid #e0e0e0;
  border-radius: 2rem;
  color: #1e1e1e;
  padding: 0.5rem; }

.tournament-registration-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: 1px 1px 4px #e0e0e0; }

.tournament-registration-button-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem; }
  .tournament-registration-button-box .button.grow {
    width: 100%; }

.tournament-registration-details-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  place-items: stretch;
  gap: 1rem; }

.event-details-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  position: sticky;
  top: 4rem; }

.event-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  gap: 1rem;
  box-shadow: 1px 1px 4px #e0e0e0;
  position: sticky;
  top: 4rem; }
  .event-navbar .button:hover.br-transparent.bg-transparent {
    border-color: #e0e0e0; }

.event-navbar-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem; }

.event-navbar-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem; }

.contestansts-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 1px 1px 4px #e0e0e0;
  border-radius: 1rem; }

.schedules-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  gap: 0.5rem;
  background-color: #ffffff;
  box-shadow: 1px 1px 4px #e0e0e0;
  border-radius: 1rem; }

.edit-tournament {
  position: fixed;
  top: 4rem;
  left: 0;
  background-color: #ffffff; }

.tournament-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap; }

.tournament-form-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.65rem;
  width: calc(50% - 0.5rem);
  min-width: 500px; }

.tournament-form-inner-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%; }

.cancel-tournament-popup-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem; }

.cancel-tournament-popup-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 1rem; }

.button-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 1.25rem;
  width: 1.25rem; }

.button-name {
  font-weight: 500;
  text-transform: uppercase;
  text-wrap: nowrap; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem 0.8rem;
  outline: none;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  transition: all 200ms; }
  .button.pd-sq-sm {
    padding: 0.25rem; }
  .button.pd-sq {
    padding: 0.5rem; }
  .button.pd-sm {
    padding: 0.25rem 0.5rem; }
  .button.pd-lg {
    padding: 0.8rem 1.125rem; }
  .button.pd-xl {
    padding: 1rem 1.5rem; }
  .button.no-border {
    border: none; }
  .button.soft-corner {
    border-radius: 0.125rem; }
  .button.rounded {
    border-radius: 0.5rem; }
  .button.curved {
    border-radius: 2rem; }
  .button.circle {
    border-radius: 100%; }
  .button.full-width {
    width: 100%; }
  .button.rrev {
    flex-direction: row-reverse; }
  .button.cr-not-allowed {
    cursor: not-allowed; }
  .button.no-padding {
    padding: 0; }
  .button .button-icon {
    width: 1.5rem;
    height: 1.5rem; }
  .button.icon-sm .button-icon {
    width: 1.25rem;
    height: 1.25rem; }
  .button.icon-sm .button-svg {
    width: 1rem;
    height: 1rem; }
  .button.icon-xs .button-icon {
    width: 1rem;
    height: 1rem; }
  .button.icon-xs .button-svg {
    width: 0.75rem;
    height: 0.75rem; }
  .button:disabled {
    cursor: not-allowed; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
  height: 4rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.125); }

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-image: url("images/applogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 7.5rem;
  height: 3rem; }

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem; }

.navbar-link {
  text-decoration: none;
  text-transform: uppercase; }
  .navbar-link:hover .nav-button {
    color: #383838; }
  .navbar-link.active .nav-button {
    color: #06b1ff; }

.form-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-image: url("images/auth-background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.form-model {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: max-content;
  padding: 2rem 1.5rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.125);
  gap: 1.5rem;
  background-color: #ffffff;
  border-radius: 0.25rem; }

.form-header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%; }

.form-header {
  font-weight: 400;
  text-transform: uppercase; }

.form-logo {
  background-image: url("images/applogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 2rem;
  width: 5rem; }

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%; }

.input {
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-direction: column;
  width: 100%; }

.input-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  position: relative;
  border-width: 1.5px;
  border-style: solid;
  background-color: #f6f6f6;
  padding: 0.75rem;
  border-radius: 0.25rem; }
  .input-box .input-label {
    font-size: 0.875rem;
    color: #808080;
    position: absolute;
    transition: all 250ms;
    transform-origin: left; }
  .input-box:has(input:focus) {
    border-color: #06b1ff; }
    .input-box:has(input:focus) .input-label {
      text-shadow: 1px 1px 2px #ffffff, 1px -1px 2px #ffffff, -1px 1px 2px #ffffff, -1px -1px 2px #ffffff;
      transform: translateY(-110%) scale(0.9); }
  .input-box:has(.input-field:not(:placeholder-shown)) .input-label {
    text-shadow: 1px 1px 2px #ffffff, 1px -1px 2px #ffffff, -1px 1px 2px #ffffff, -1px -1px 2px #ffffff;
    transform: translateY(-110%) scale(0.9); }
  .input-box.br-red {
    border-color: #f0483e !important; }

option:disabled {
  color: #808080; }

.input-field {
  background-color: transparent;
  border: none;
  outline: none;
  flex-grow: 1; }

.input-error {
  color: #f0483e;
  font-size: 0.75rem; }

.card-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%; }
  .card-item.align-end {
    justify-content: flex-end; }

.card-item-icon {
  height: 1.25rem;
  width: 1.25rem;
  min-width: 1rem;
  min-height: 1rem;
  flex-shrink: 0; }
  .card-item-icon.no-icon {
    display: none; }
  .card-item-icon.clock-icon {
    background-image: url("images/clock-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.people-icon {
    background-image: url("images/people-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.calander-icon {
    background-image: url("images/calander-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.cube-icon {
    background-image: url("images/cube-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.location-icon {
    background-image: url("images/location-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.admin-icon {
    background-image: url("images/admin-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.badge-icon {
    background-image: url("images/badge-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.building-icon {
    background-image: url("images/building-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.mail-icon {
    background-image: url("images/mail-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.individual-icon {
    background-image: url("images/individual-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.card-item-name {
  max-width: 100%; }

.tournament-card {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: column;
  min-width: 16rem;
  flex-grow: 1;
  height: 22rem;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: all 150ms;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.314); }
  .tournament-card:hover {
    transform: scale(1.02); }

.tournament-card-image-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: 45%;
  position: relative; }

.tournament-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

.tournament-card-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
  background-color: #06b1ff;
  color: #ffffff; }

.tournament-card-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 50%;
  padding: 0.75rem; }

.tournament-card-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%; }
  .tournament-card-title-box .button:hover.no-border.bg-transparent {
    background-color: #f6f6f6; }

.tournament-card-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #383838;
  transition: all 200ms; }
  .tournament-card-title:hover {
    color: #06b1ff; }

.tournament-card-menu-box {
  position: relative; }

.tournament-card-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 8rem;
  gap: 0.1rem;
  overflow: hidden;
  border-radius: 0.125rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); }
  .tournament-card-menu a {
    width: 100%; }
  .tournament-card-menu .button:hover.no-border.bg-white {
    background-color: #f6f6f6; }

.tournament-card-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  width: 100%; }
  .tournament-card-box .button:hover.br-blue.bg-white {
    background-color: #06b1ff; }
  .tournament-card-box .button:hover.br-blue.ft-blue {
    color: #ffffff; }

.tournament-card-innerbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem; }

.organization-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 75%;
  border-radius: 0.5rem;
  transition: all 150ms;
  padding: 1rem;
  box-shadow: 1px 1px 4px rgba(160, 160, 162, 0.2);
  gap: 0.5rem;
  transition: all 150ms; }
  .organization-card:hover {
    box-shadow: 3px 3px 12px rgba(160, 160, 162, 0.2); }

.organization-card-title {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.25rem; }

.organization-card-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 1rem; }

.organization-card-detail-box {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1; }

.organization-card-button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0.75rem; }

.organization-card .button:hover.no-border.ft-blue {
  color: #0878c5; }

.organization-card .button:hover.br-red.bg-white {
  background-color: #f0483e; }

.organization-card .button:hover.br-red.ft-red {
  color: #ffffff; }

.organization-card .button:hover.br-green.bg-green {
  background-color: #ffffff; }

.organization-card .button:hover.br-green.ft-white {
  color: #13ad6b; }

.organization-card .button:hover.br-green.bg-white {
  background-color: #13ad6b; }

.organization-card .button:hover.br-green.ft-green {
  color: #ffffff; }

.organization-card .button:hover.br-orange.bg-orange {
  background-color: #ffffff; }

.organization-card .button:hover.br-orange.ft-white {
  color: #ffa500; }

.user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 16rem;
  box-shadow: 1px 1px 4px rgba(160, 160, 162, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
  transition: all 200ms; }
  .user-card:hover {
    box-shadow: 3px 3px 12px rgba(160, 160, 162, 0.2); }

.user-card-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%; }

.user-card-profile-img {
  background-image: url("images/profile-place-holder.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  width: 40%;
  cursor: pointer; }

.user-card-detail-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem; }

.user-card-item {
  text-align: center; }
  .user-card-item.ft-grey.ft-sm:hover {
    color: #383838;
    text-decoration: underline; }

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0.5rem;
  gap: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  max-width: 25rem;
  transition: all 150ms; }
  .search-bar:has(.search-input:focus) {
    border-color: #06b1ff;
    flex-grow: 1; }
  .search-bar.max-width-sm {
    max-width: 20rem; }
  .search-bar.max-width-lg {
    max-width: 30rem; }

.search-icon {
  background-image: url("images/search-icon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  background-color: transparent; }

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent; }

.tournament-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: #f6f6f6;
  gap: 1rem;
  position: sticky;
  z-index: 10;
  top: 4rem;
  left: 0; }

.organization-user-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  border-radius: 0.5rem;
  gap: 1rem;
  position: sticky;
  z-index: 10;
  top: 4rem;
  left: 0; }

.organization-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
  padding: 1rem;
  background-color: #f6f6f6;
  gap: 1rem;
  position: sticky;
  z-index: 10;
  top: 4rem;
  left: 0; }

.button:hover.br-green.bg-green {
  background-color: #ffffff; }

.button:hover.br-green.ft-white {
  color: #13ad6b; }

.tournament-participation-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 100; }

.tournament-participation-form-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.75rem;
  padding: 2rem 1.5rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  width: 50%;
  max-width: 500px; }

.tournament-participation-team-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
  width: 100%; }

.tournament-participation-form-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: #808080;
  width: 100%;
  font-size: 0.875rem;
  gap: 0.25rem; }
  .tournament-participation-form-info svg {
    width: 1rem;
    height: 1rem; }
  .tournament-participation-form-info span {
    text-decoration: none;
    color: #06b1ff; }

.tournament-participation-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%; }
  .tournament-participation-form input, .tournament-participation-form select {
    flex-grow: 1; }

.tournament-participation-form-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 1rem; }
  .tournament-participation-form-buttons .button:hover.br-blue.bg-blue {
    background-color: #ffffff; }
  .tournament-participation-form-buttons .button:hover.br-blue.ft-white {
    background-color: #06b1ff; }
  .tournament-participation-form-buttons .button:hover.br-orange.bg-white {
    background-color: #ffa500; }
  .tournament-participation-form-buttons .button:hover.br-orange.ft-orange {
    color: #ffffff; }

.tournament-schedule-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 100; }

.tournament-schedule-form-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.75rem;
  padding: 2rem 1.5rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  width: 50%;
  max-width: 500px; }

.tournament-schedule-team-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
  width: 100%; }

.tournament-schedule-form-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: #808080;
  width: 100%;
  font-size: 0.875rem;
  gap: 0.25rem; }
  .tournament-schedule-form-info svg {
    width: 1rem;
    height: 1rem; }
  .tournament-schedule-form-info span {
    text-decoration: none;
    color: #06b1ff; }

.tournament-schedule-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%; }
  .tournament-schedule-form input, .tournament-schedule-form select {
    flex-grow: 1; }

.tournament-schedule-select-contestants-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  position: relative; }

.tournament-schedule-select-contestants-label {
  position: absolute;
  font-size: 0.875rem;
  color: #808080;
  left: 0.75rem;
  transform: translateY(-50%);
  text-shadow: 1px 1px 2px #ffffff, 1px -1px 2px #ffffff, -1px 1px 2px #ffffff, -1px -1px 2px #ffffff; }

.tournament-schedule-select-contestants {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border: 1.5px solid #e0e0e0;
  padding-top: 0.75rem;
  gap: 0.1rem;
  width: 100%;
  max-height: 10rem;
  overflow-y: scroll;
  background-color: #f6f6f6;
  border-radius: 0.25rem; }

.schedule-contestant-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  background-color: #ffffff;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer; }

.schedule-contestant-card-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; }

.schedule-contestant-card-extra {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; }

.tournament-schedule-select-contestant-card {
  width: 100%; }
  .tournament-schedule-select-contestant-card:has(input:checked) .schedule-contestant-card {
    background-color: #13ad6b; }
  .tournament-schedule-select-contestant-card:has(input:checked) .ft-night-black {
    color: #ffffff; }
  .tournament-schedule-select-contestant-card:has(input:checked) .ft-grey {
    color: #f6f6f6; }

.tournament-schedule-form-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 1rem; }
  .tournament-schedule-form-buttons .button:hover.br-blue.bg-blue {
    background-color: #ffffff; }
  .tournament-schedule-form-buttons .button:hover.br-blue.ft-white {
    background-color: #06b1ff; }
  .tournament-schedule-form-buttons .button:hover.br-orange.bg-white {
    background-color: #ffa500; }
  .tournament-schedule-form-buttons .button:hover.br-orange.ft-orange {
    color: #ffffff; }

.icon-label-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.75rem; }

.icon-label-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 1.5rem;
  height: 1.5rem; }
  .icon-label-item-icon.bg {
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #f6f6f6; }
  .icon-label-item-icon.icon-sm {
    width: 1.25rem;
    height: 1.25rem; }
  .icon-label-item-icon.icon-xs {
    width: 1rem;
    height: 1rem; }

.icon-label-item-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: #383838;
  gap: 0.5rem; }
  .icon-label-item-box.row {
    flex-direction: row; }
  .icon-label-item-box.col {
    gap: 0;
    flex-direction: column; }
  .icon-label-item-box.rrev {
    flex-direction: row-reverse; }
  .icon-label-item-box.crev {
    gap: 0;
    flex-direction: column-reverse; }
  .icon-label-item-box.ai-start {
    align-items: flex-start; }
  .icon-label-item-box.jc-center {
    justify-content: center; }

.message-queue {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0 0;
  position: fixed;
  z-index: 100;
  gap: 1rem;
  top: 4rem;
  right: 0; }

.message-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  gap: 0.5rem;
  padding: 2rem;
  width: 30rem;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  animation: fade-in 0.3s ease 1;
  overflow: hidden; }

.message-box-icon {
  width: 1.5rem;
  height: 1.5rem; }

.message-box-text {
  text-wrap: wrap; }

.message-box-loader {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-color: #f6f6f6; }

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(100%); } }

.edit-organization {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  min-height: 100svh;
  background-color: rgba(0, 0, 0, 0.2); }

.organization-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap; }

.organization-form-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.65rem;
  width: calc(50% - 0.5rem);
  min-width: 500px; }

.organization-form-innerbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 100%; }

.organization-form-button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 1rem; }

.organization-user-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  min-height: 100svh;
  background-color: rgba(0, 0, 0, 0.2); }

.organization-user-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap; }

.organization-user-form-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.65rem;
  width: calc(50% - 0.5rem);
  min-width: 500px; }

.organization-user-form-innerbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 100%; }

.organization-user-form-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 1rem; }

.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 120;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100svw;
  height: 100svh; }

.popup-model {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1.25rem;
  border-radius: 0.5rem;
  gap: 0.75rem; }

.team-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  width: 100%;
  gap: 0.1rem;
  overflow: hidden; }

.team-card-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffffff;
  gap: 1rem;
  padding: 0.5rem 1rem;
  width: 100%; }

.team-card-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.5rem; }

.team-card-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.5rem; }

.team-members-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #f6f6f6;
  gap: 0.1rem;
  width: 100%; }

.team-member-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffffff;
  padding: 0.5rem 2rem;
  width: 100%; }

.team-member-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0.5rem; }

.team-leader-tag {
  padding: 0.1rem 0.25rem;
  border-radius: 1rem; }

.team-member-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.5rem; }

.team-card.my-participation {
  border: 1px solid #06b1ff;
  position: relative; }
  .team-card.my-participation .team-card-info-box {
    background-color: #06b1ff; }
    .team-card.my-participation .team-card-info-box .team-card-info .ft-night-black {
      color: white; }
    .team-card.my-participation .team-card-info-box .team-card-buttons .br-grey.ft-grey {
      border: 1px solid #ffffff;
      color: #ffffff; }

.participant-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 100%; }
  .participant-card.my-participation {
    border: 1px solid #06b1ff;
    background-color: #06b1ff;
    position: relative; }
    .participant-card.my-participation .participant-card-info .ft-night-black {
      color: white; }
    .participant-card.my-participation .participant-card-buttons .br-red.bg-red {
      background-color: #ffffff; }
    .participant-card.my-participation .participant-card-buttons .br-red.ft-white {
      color: #f0483e; }
    .participant-card.my-participation .participant-card-buttons .br-green.bg-green {
      background-color: #ffffff; }
    .participant-card.my-participation .participant-card-buttons .br-green.ft-white {
      color: #13ad6b; }

.pincard {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 0.75rem;
  height: 0.75rem; }

.tournament-schedule-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 4px #d8d8d8, -2px -2px 4px #ffffff;
  transition: all 200ms; }

.tournament-schedule-card-info-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid #f6f6f6;
  gap: 1rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.75rem 1rem; }

.tournament-schedule-card-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem; }

.tournament-schedule-card-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem; }

.tournament-schedule-card-button-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem; }

.event-contestansts-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #f6f6f6;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0 0 0.5rem 0.5rem; }

.app-loader-container {
  padding: 1rem;
  width: 100svw;
  height: 100svh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(40, 40, 40, 0.3);
  display: flex;
  align-items: center;
  justify-content: center; }

.app-loader {
  width: 50px;
  height: 50px;
  animation: rotate-svg-animation 1.4s linear infinite; }

.app-loader-svg {
  animation: color-changing-loader-animation 1.4s infinite; }

.loader-circle {
  stroke: currentColor;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0;
  animation: rotate-loader-circle-animation 1.4s ease-in-out infinite; }

@keyframes rotate-svg-animation {
  0% {
    transform-origin: 50% 50%; }
  100% {
    transform: rotate(360deg); } }

@keyframes rotate-loader-circle-animation {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px; }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px; } }

@keyframes color-changing-loader-animation {
  0% {
    color: #06b1ff; }
  25% {
    color: #f0483e; }
  50% {
    color: #ffa500; }
  75% {
    color: #13ad6b; } }

/*# sourceMappingURL=tournament-management-system.css.map */