@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-Thin.woff2") format("woff2"), url("fonts/Poppins/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-ExtraLight.woff2") format("woff2"), url("fonts/Poppins/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-Light.woff2") format("woff2"), url("fonts/Poppins/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("fonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-Medium.woff2") format("woff2"), url("fonts/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("fonts/Poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-Bold.woff2") format("woff2"), url("fonts/Poppins/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-ExtraBold.woff2") format("woff2"), url("fonts/Poppins/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins/Poppins-Black.woff2") format("woff2"), url("fonts/Poppins/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

img, svg {
  max-width: 100%;
  max-height: 100%;
  display: block;
  user-select: none; }

input:disabled {
  cursor: not-allowed; }

.card-item-name, .tournament-card-title {
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap; }

.container {
  width: 100svw;
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem; }

.section {
  min-height: calc(100svh - 4rem); }

.bg-white {
  background-color: #ffffff; }

.bg-black {
  background-color: #000000; }

.bg-blue {
  background-color: #06b1ff; }

.bg-green {
  background-color: #1acd81; }

.bg-red {
  background-color: #f0483e; }

.bg-grey {
  background-color: #808080; }

.bg-orange {
  background-color: #ffa500; }

.bg-light-grey {
  background-color: #e0e0e0; }

.bg-transparent {
  background-color: transparent; }

.bg-pale-white {
  background-color: #f6f6f6; }

.br-blue {
  border-color: #06b1ff; }

.br-red {
  border-color: #f0483e; }

.br-grey {
  border-color: #808080; }

.br-light-grey {
  border-color: #e0e0e0; }

.br-green {
  border-color: #1acd81; }

.br-orange {
  border-color: #ffa500; }

.ft-black {
  color: #000000; }

.ft-white {
  color: #ffffff; }

.ft-blue {
  color: #06b1ff; }

.ft-grey {
  color: #808080; }

.ft-green {
  color: #1acd81; }

.ft-red {
  color: #f0483e; }

.no-decoration {
  text-decoration: none; }

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-image: url("images/auth-background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap; }

.auth-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.65rem;
  width: calc(50% - 0.5rem);
  min-width: 500px; }

.auth-innerbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%; }

.auth-switch {
  align-self: flex-start;
  font-size: 0.875rem; }
  .auth-switch a {
    color: #06b1ff;
    font-weight: 500;
    text-decoration: none; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem 0.8rem;
  outline: none;
  border-width: 1px;
  border-style: solid;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 150ms; }
  .button.no-border {
    border: none; }
  .button.soft-corner {
    border-radius: 0.125rem; }
  .button.rounded {
    border-radius: 0.5rem; }
  .button.curved {
    border-radius: 2rem; }
  .button.full-width {
    width: 100%; }
  .button.reverse {
    flex-direction: row-reverse; }
  .button.cr-not-allowed {
    cursor: not-allowed; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
  height: 4rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.125); }

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-image: url("images/applogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 7.5rem;
  height: 3rem; }

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem; }

.navbar-link {
  text-decoration: none;
  text-transform: uppercase; }
  .navbar-link.active .nav-button {
    color: #06b1ff; }

.form-model {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: max-content;
  padding: 2rem 1.5rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.125);
  gap: 1.5rem;
  background-color: #ffffff;
  border-radius: 0.25rem; }
  .form-model.w-50 {
    width: 50%; }
  .form-model.w-80 {
    width: 80%; }
  .form-model.mxw-500 {
    max-width: 500px; }
  .form-model.mxw-800 {
    max-width: 800px; }

.form-header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%; }

.form-header {
  font-weight: 400;
  text-transform: uppercase; }

.form-logo {
  background-image: url("images/applogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 2rem;
  width: 5rem; }

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%; }

.input {
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-direction: column;
  width: 100%; }

.input-box {
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-width: 1.5px;
  border-style: solid;
  background-color: #f6f6f6;
  padding: 0.75rem;
  border-radius: 0.25rem; }

.input-label {
  color: #808080; }

.text-input {
  background-color: transparent;
  border: none;
  outline: none; }

.input-error {
  color: #f0483e;
  font-size: 0.75rem; }

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  padding-top: 2rem;
  width: 100%; }
  .card-wrapper.wrap {
    flex-wrap: wrap; }
  .card-wrapper.column {
    flex-direction: column; }

.card-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%; }

.card-item-icon {
  height: 1rem;
  width: 1rem;
  min-width: 1rem;
  min-height: 1rem;
  flex-shrink: 0; }
  .card-item-icon.clock-icon {
    background-image: url("images/clock-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.people-icon {
    background-image: url("images/people-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.calander-icon {
    background-image: url("images/calander-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.cube-icon {
    background-image: url("images/cube-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.location-icon {
    background-image: url("images/location-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.admin-icon {
    background-image: url("images/admin-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.badge-icon {
    background-image: url("images/badge-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .card-item-icon.building-icon {
    background-image: url("images/building-icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.card-item-name {
  max-width: 100%; }

.tournament-card {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f6f6f6;
  background-image: url("images/auth-background.svg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  min-width: 18rem;
  max-width: 20rem;
  flex-grow: 1;
  height: 22rem;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: all 150ms;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.314); }
  .tournament-card:hover {
    transform: scale(1.05); }

.tournament-card-image {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: 45%;
  background-image: var(--tournament-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.tournament-card-status {
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
  background-color: #06b1ff;
  color: #ffffff; }

.tournament-card-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 50%;
  padding: 0.75rem; }

.tournament-card-title {
  font-size: 1.25rem; }

.tournament-card-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%; }

.tournament-card-innerbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem; }

.organization-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f6f6f6;
  background-image: url("images/auth-background.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  width: 75%;
  border-radius: 0.5rem;
  transition: all 150ms;
  padding: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.314);
  gap: 0.5rem; }
  .organization-card:hover {
    transform: scale(1.05); }

.organization-card-title {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.25rem; }

.organization-card-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 1rem; }

.organization-card-detail-box {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1; }

.organization-card-button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0.75rem; }

.organization-card .button:hover.no-border.ft-blue {
  color: #0878c5; }

.organization-card .button:hover.br-red.bg-white {
  background-color: #f0483e; }

.organization-card .button:hover.br-red.ft-red {
  color: #ffffff; }

.organization-card .button:hover.br-green.bg-green {
  background-color: #ffffff; }

.organization-card .button:hover.br-green.ft-white {
  color: #1acd81; }

.organization-card .button:hover.br-orange.bg-orange {
  background-color: #ffffff; }

.organization-card .button:hover.br-orange.ft-white {
  color: #ffa500; }

/*# sourceMappingURL=tournament-management-system.css.map */